assert-exists==0.0.5
beautifulsoup4==4.4.1
bs4==0.0.1
caller-module==0.0.9
click==6.6
conf==0.0.5
cssselect==0.9.1
EasyProcess==0.2.2
Flask==0.11.1
Flask-Cors==2.1.2
Flask-WTF==0.12
fullpath==0.0.6
getclass==0.0.9
isclassmethod==0.0.5
isstaticmethod==0.0.6
isstring==0.0.6
itsdangerous==0.24
Jinja2==2.8
linecache2==1.0.0
lxml==3.6.0
MarkupSafe==0.23
objectname==0.0.5
public==0.0.0
pyquery==1.2.13
PyVirtualDisplay==0.2
selenium==2.53.5
six==1.10.0
tolist==0.0.8
traceback2==1.4.0
unittest2==1.1.0
Werkzeug==0.11.10
WTForms==2.1
